.footer {
  background-color: #f0f0f0;
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-section {
  width: 25%;
  padding: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  animation: bounce 4s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.footer-section p {
  line-height: 1.5;
  animation: slideIn 3s ease-in-out;
}
@keyframes slideIn {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
  animation: slideIn 4s ease-in-out;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  animation: slideIn 0.9s ease-in-out;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links a i {
  font-size: 20px;
  color: #333;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}

.copyright p {
  font-size: 14px;
  color: #333;
}
